AmpedBiz/.vs/
AmpedBiz/AmpedBiz.Common/bin/
AmpedBiz/AmpedBiz.Common/obj/
AmpedBiz/AmpedBiz.Core/bin/
AmpedBiz/AmpedBiz.Core/obj/
AmpedBiz/AmpedBiz.Data.Initializer/bin/
AmpedBiz/AmpedBiz.Data.Initializer/obj/
AmpedBiz/AmpedBiz.Data/bin/
AmpedBiz/AmpedBiz.Data/obj/
AmpedBiz/AmpedBiz.Service.Host/Database/
AmpedBiz/AmpedBiz.Service.Host/bin/
AmpedBiz/AmpedBiz.Service.Host/logs/
AmpedBiz/AmpedBiz.Service.Host/obj/
AmpedBiz/AmpedBiz.Service/bin/
AmpedBiz/AmpedBiz.Service/obj/
AmpedBiz/AmpedBiz.Test.Integration/bin/
AmpedBiz/AmpedBiz.Test.Integration/obj/
AmpedBiz/AmpedBiz.Test.Unit/bin/
AmpedBiz/AmpedBiz.Test.Unit/obj/
AmpedBiz/AmpedBiz.Tests/bin/
AmpedBiz/AmpedBiz.Tests/obj/
AmpedBiz/Ampedbiz.BarcodeSimulator/bin/
AmpedBiz/Ampedbiz.BarcodeSimulator/obj/
AmpedBiz/packages/