<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />-->
    <target xsi:type="Trace" name="trace" layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
  </targets>
  <rules>
    <logger name="NHibernate.SQL" minlevel="Debug" writeTo="trace" final="true" />
    <logger name="NHibernate.*" minlevel="Warn" writeTo="trace" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
  </rules>
</nlog>