body {
  margin: 0;
  background-color:  #f0f0f0!important;
}

input[type=checkbox] {
  position: relative!important;
  margin-left: 0p!important;
  /*width:34px;*/  
}

.report-viewer {
  width: 800px; 
  height: 800px; 
}

/*
.report-dialog {
  width: 600px;
  height: 800px;
  padding: 0;
}
*/

/*
.report-viewer {
  position:fixed; 
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  width:100%; 
  height:100%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  z-index:999999;
}
*/

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.table thead {
  color: #424242;
  background-color: #D8D8D8;
}

.th-input {
  color: #757575!important;
}

.table-control {
  min-width: 0;
  /*width: 100%;*/
  display: inline;
}

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* border: 1px solid #DDD; */
}

.table {
  margin-bottom: 0px!important;
}

th, td {
  /*use this property to disbale soft wrap*/
  white-space: nowrap;
  /*To make extra certain,add this css property*/
  word-break: keep-all;
  vertical-align: middle!important;
}

.control-display {
  font-weight: normal;
  margin: unset;
  padding-top: 7px;
}

ux-dialog-overlay.active {
  /*background-color: black;*/
  opacity: .5;
}

ux-dialog-header {
  color: #afafaf;
  background-color: #f5f5f5;
}

.panel {
  border-color: #c7c5c5!important;
  border-radius: 0px!important;
  /* box-shadow: 0 2px 5px #0000004d; */

  -webkit-box-shadow: 0 2px 5px #0000004d!important;
  -moz-box-shadow: 0 2px 5px #0000004d!important;
  box-shadow: 0 2px 5px #0000004d!important;
}

.panel-heading {
  color: #ffffff!important;
  background-color: #676b75!important;
  border-radius: 0px!important;
  /* border-color: #c7c5c5!important;
  background-color: #D8D8D8!important; */
}

.panel-primary {
  border-color: #337ab7;
}

.table-nonfluid {
   width: auto !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.form-control {
  border-radius: 0px!important;
  /* -webkit-box-shadow: 4px 21px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 21px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 21px 5px -2px rgba(0,0,0,0.75);
  z-index: -1; */
}

.btn {
  border-radius: 0px!important;
}

.search-form {
  display: block;
  clear: none;
  float: right;
}

.search-form .input {
  display: block;
  clear: none;
  float: left;
  margin: 0 10px 0 0;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-index {
  flex: 1 auto;
}

@media print {
  /*
  * { display: none !important; }
  .printable { display: block !important; }
  */

  body * {
    visibility: hidden;
  }
  .printable, .printable * {
    visibility: visible;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
 .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
  /*
  .non-printable { display: none; }
  .printable { display: block; }

  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
  */
}

/* section {
  margin: 0 20px;
} */

.pagination {
  margin: 0 !important;
}

.pager-no-items {
  text-align: center !important;
  font-style: italic;
  font-weight: normal;
  margin: 30px 20px;
}

.fa-sort {
  color: gray;
}

row-no-padding > [class*='col-'] {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.bs-callout {
  padding: 10px;
  margin: 5px 0;
  color: #676da7;
  border: 1px solid #eee;
  border-left-width: 5px;
}

.bs-callout:hover {
  border: 1px solid #bcc1f8;
  border-left-width: 5px;
  cursor: pointer;
}

.bs-callout.active {
  color: #337AB7;
  border: 1px solid #337AB7;
  border-left-width: 5px;
}


/*
.sortable { 
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC'); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: right; 
    padding-left: .5cm; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px;
} 

.sortable-asc { 
  background-image: url(../images/sortable_asc.gif); 
  background-color: #3399FF; 
} 

.sortable-desc { 
    background-image: url(../images/sortable_desc.gif); 
    background-color: #3399FF; 
} 
*/
/* .submenu {
  padding-left: 10px;
} */


/*
 * Sidebar
 */

/*
#side-bar {
  display: none;
    border-right: 1px solid#e7e7e7;
}
@media (min-width: 768px) {
  #side-bar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
*/

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.login-form {
  width: 20vw;
  margin: 20vh auto;
  min-width: 400px;
}

.login-form .panel-body > * {
  display: block;
  margin: 12px auto;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* slider */
/*
  ===========
  USAGE
  ===========
 
  <!-- Rectangular switch -->
  <label class="switch">
    <input id="slider" type="checkbox">
    <span class="slider"></span>
  </label>

  <!-- Rounded switch -->
  <label class="switch">
    <input id="roundSlider" type="checkbox">
    <span class="slider round"></span>
  </label>
*/

 /* The switch - the box around the slider */
div.switch {
  height: 34
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.center-input {
  padding-top: 5px;
  display: inline-block;
}

.gear-menu {
  margin-top: 10px;
  margin-right: 10px;
}

.gear-menu .dropdown a {
  color: #d3cece;
}

.gear-menu .dropdown a:hover {
  color: #ffffff;
}
